/***********************
      COLORS
************************/

/* site body */ 
body {
  // background-image: url('../src/img/ksM4BS.jpg');
  background-color: #fff;
  color: #7a7a7a;
}

/*  header */
header {
  background-color: #000000;
  border-color: #BE581E;
}
/* logo text */
h1, h2 {
  color: #fff;
}

a {
  color: #de5305;
}

/* nav background on mobile */
nav {
  background: #708090;
}

/* nav link */
nav a, nav a:visited {
  color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: #de5305;
}
/* Social links meny text */
span {
  padding-right: 10px;
}