/***********************
    PAGE: FRONT
***********************/
.blog-background {
    margin: 160px auto;
}
/***********************
      PAGE: PORTFOLIO
***********************/
 #wrapper {
    margin-top: 140px;
  }
/***********************
    PAGE: ABOUT
************************/
  .container {
    margin-top: 150px;
  }
  .left-side {
    text-align: center;

  }

/************************
      PAGE: CONTACT
************************/
.contact-box {
  margin: 10em auto;
}
.contact-form {
    width: 50%;
    text-align: center;
  }

.wpcf7-form {
  text-align: center;
}
.contact-info {
  margin: 0 auto;
}
/************************
    PAGE: BLOG
************************/
.blog-title {
  color: #7a7a7a;
}
.blog-content {
  color: #7a7a7a;
}
/*************************
    PAGE SINGLE
*************************/
.single-container {
 margin: 9em auto;
}
