/***********************
    PAGE: FRONT
***********************/
.blog-container {
  margin-top: 12em;
}
.blog-background {
    margin: 85px auto;
}
/***********************
      PAGE: PORTFOLIO
***********************/
 #wrapper {
    margin: 150px auto;
  }
/***********************
    PAGE: ABOUT
************************/
  .container {
    margin-top: 150px;
    margin-bottom: 0;
  }
  .left-side {
    text-align: center;

  }

/************************
      PAGE: CONTACT
************************/
.contact-box {
  // margin: 10em auto;
  margin-top: 10em;
  margin-right: auto;
  margin-bottom: 2em;
  margin-left:auto;
}
.contact-form {
    width: 50%;
    text-align: center;
  }

.wpcf7-form {
  text-align: center;
  width: 20em;
}
.contact-info {
  margin: 0 auto;
}
/************************
    PAGE: BLOG
************************/
.blog-title {
  color: #7a7a7a;
}
.blog-content {
  color: #7a7a7a;
}
/*************************
      PAGE SINGLE
*************************/
.single-container {
 margin-top: 9em;
 margin-right: auto;
 margin-bottom: 2em;
 margin-left: auto;
}