/***************************
		FRONT: PAGE
****************************/
.blog-container {
	margin-top: 10em;
	margin-right: auto;
	margin-bottom: 2em;
	margin-left: auto;
}
/**************************
		PAGE: ABOUT
**************************/
.container {
	margin-top: 12em;
	margin-right: 0 auto;
	margin-bottom: 6em;
	margin-left: 0 auto;
}
/**************************
		PAGE: CONTACT
**************************/
.contact-box {
	margin-top: 10em;
	margin-right: 0 auto;
	margin-bottom: 2em;
	margin-left: 0 auto;
}